{%  if game.value ==  "Honkai Impact 3rd" %}
    {% include "HI3.ini.j2" %}
{%  elif game.value == "Genshin Impact" %}
    {% include "GI.ini.j2" %}
{%  elif game.value == "Honkai Star Rail" %}
    {% include "HSR.ini.j2" %}
{%  elif game.value == "Zenless Zone Zero" %}
    {% include "ZZZ.ini.j2" %}
{%  elif game.value == "Honkai Impact 3rd Part 2" %}
    {% include "HI3P2.ini.j2" %}
{%  else %}
    Unsuported game:
    {{game.value}}
{% endif %}