{% if credit %}
    {{ credit }}
{% endif %}

{% for component in char_hash %}
    {% set offset = 0 %}
        [TextureOverride{{ component.object.fullname }}]
        hash = {{ component.ib }}
        ib = Resource{{ component.object.fullname }}
        ps-t0 = Resource{{ component.object.fullname }}Diffuse
        ps-t1 = Resource{{ component.object.fullname }}Lightmap
        {% for off in component.object.offsets%}
            drawindexed = {{ off[3]}}, {{ offset }}, 0
            {% offset = offset + off[3] %}
        {% endfor %}
{% endfor %}
