{% extends "base.ini.j2" %}

{% set const_lines = [] %}
{% set present_lines = [] %}

{% do const_lines.append('global $active = 0') %}
{% do const_lines.append('global $creditinfo = 0') %}
{% do present_lines.append('post $active = 0') %}
{% do present_lines.append('run = CommandListCreditInfo') %}

{% block commandlistscredit %}
    {% if credit != "" %}
        [CommandListCreditInfo]
        if $creditinfo == 0 && $active > 0
            pre Resource\ShaderFixes\help.ini\Notification = ResourceCreditInfo
            pre run = CustomShader\ShaderFixes\help.ini\FormatText
            pre $\ShaderFixes\help.ini\notification_timeout = time + 5.0
            $creditinfo = 1
        endif
    {% endif %}
{% endblock %}

{% block resourcecredit %}
    {% if credit != "" %}
        [ResourceCreditInfo]
        type = Buffer
        data = "Created by {{ credit }}"
    {% endif %}
{% endblock %}

{% block overridesbuffers %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != "" and component.vertex_count > 0 %}
        [TextureOverride{{ component.fullname }}Blend]
        hash = {{ component.blend_vb }}
        handling = skip
        vb2 = Resource{{ component.fullname }}Blend
        if DRAW_TYPE == 1
          {% if component.sk_deltas_count %}
            Resource{{ component.fullname }}ShapeKeyResult = copy Resource{{ component.fullname }}Position
            Resource\ZZMI\SKBase = ref Resource{{ component.fullname }}ShapeKeyResult
            Resource\ZZMI\SKDeltas = ref Resource{{ component.fullname }}SKDeltas
            Resource\ZZMI\SKIdentity = ref Resource{{ component.fullname }}SKIdentity
            Resource\ZZMI\SKMultipliers = ref Resource{{ component.fullname }}SKMultipliers
            Resource\ZZMI\SKOverrides = ref Resource{{ component.fullname }}SKOverrides
            $\ZZMI\sk_deltas_count = {{ component.sk_deltas_count }}
            run = CommandList\ZZMI\ApplyShapeKeys
            vb0 = ref Resource{{ component.fullname }}Position
            vb0 = ref Resource{{ component.fullname }}ShapeKeyResult unless_null
          {% else %}
            vb0 = Resource{{ component.fullname }}Position
          {% endif %}
          draw = {{ component.vertex_count }}, 0
          {% if credit != "" %}
            $active = 1
          {% endif %}
        endif

        [TextureOverride{{ component.fullname }}Texcoord]
        hash = {{ component.texcoord_vb }}
        vb1 = Resource{{ component.fullname }}Texcoord

        [TextureOverride{{ component.fullname }}VertexLimitRaise]
        hash = {{ component.draw_vb }}
        override_vertex_count = {{ component.vertex_count }}
        override_byte_stride = {{ component.strides.position }}

        {% if component.sk_deltas_vb != "" and component.sk_deltas_count %}
          [TextureOverride{{ component.fullname }}SKDeltas]
          hash = {{component.sk_deltas_vb}}
          if DRAW_TYPE == 8
            Resource\ZZMI\SKIdentity = ref Resource{{ component.fullname }}SKIdentity
            Resource\ZZMI\SKMultipliers = ref Resource{{ component.fullname }}SKMultipliers
            run = CommandList\ZZMI\GatherSKData
          endif
        {% endif %}
    {% endfor %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb == "" %}
        [TextureOverride{{ component.fullname }}]
        hash = {{ component.position_vb }}
        vb0 = Resource{{ component.fullname }}
        {% if credit != "" %}
            $active = 1
        {% endif %}
        checktextureoverride = ib

    {% endfor %}
{% endblock %}

{% block overridesibs %}
     {% for component in mod_file.components if component.draw_vb != "" %}
        {% for part in component.parts if part.vertex_count > 0 %}
            [TextureOverride{{ part.fullname }}]
            hash = {{ component.ib }}
            match_first_index = {{ part.first_index }}
            {% if part.index_count%} match_index_count = {{ part.index_count }}
            {% endif %}
            ib = Resource{{ part.fullname }}IB
            {% for texture in part.textures %}
                Resource\ZZMI\{{ texture.name }} = ref Resource{{ part.fullname }}{{ texture.name }}
            {% endfor %}
            {% if part.textures|length > 0 %}
                run = CommandList\ZZMI\SetTextures
            {% endif %}
            {% for entry in part.objects if entry.vertex_count > 0 %}
                {% if loop.previtem and loop.previtem.collection_name != entry.collection_name %}
                    ; {{ entry.collection_name }}
                {% endif %}
                ; {{ entry.name }} ({{ entry.vertex_count }})
                drawindexed = {{ entry.index_count}}, {{ entry.index_offset }}, 0
            {% endfor %}

        {% endfor %}
    {% endfor %}
    {% for component in mod_file.components if component.draw_vb == "" %}
        {% for part in component.parts %}
            {% for texture in part.textures %}
                [TextureOverride{{part.fullname}}{{ texture.name }}]
                hash = {{ texture.hash }}
                this = Resource{{part.fullname}}{{ texture.name }}

            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock  %}

{% block resourcebuffers %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb != ""  and component.vertex_count > 0 %}
        {% if component.strides %}
            [Resource{{ component.fullname }}Position]
            type = Buffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf

            [Resource{{ component.fullname }}Blend]
            type = Buffer
            stride = {{ component.strides.blend }}
            filename = {{ component.fullname }}Blend.buf

            [Resource{{ component.fullname }}Texcoord]
            type = Buffer
            stride = {{ component.strides.texcoord }}
            filename = {{ component.fullname }}Texcoord.buf
        {% endif %}

        {% if component.sk_deltas_count %}
            [Resource{{ component.fullname }}ShapeKeyResult]
            type = RWByteAddressBuffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf

            [Resource{{ component.fullname }}SKDeltas]
            type = StructuredBuffer
            stride = {{ component.strides.skdeltas }}
            filename = {{ component.fullname }}SKDeltas.buf

            [Resource{{ component.fullname }}SKIdentity]
            type = Buffer
            format = R32G32B32A32_UINT
            filename = {{ component.fullname }}SKIdentity.buf

            [Resource{{ component.fullname }}SKMultipliers]
            type = RWBuffer
            format = R32_FLOAT
            array = {{ component.sk_count }}

            [Resource{{ component.fullname }}SKOverrides]
            type = RWBuffer
            format = R32_FLOAT
            array = {{ component.sk_count }}
            data ={% for x in range(0,10)%} 0{%endfor%}
        {% endif %}
        
        {% for part in component.parts %}
            [Resource{{ part.fullname }}IB]
            type = Buffer
            format = DXGI_FORMAT_R32_UINT
            filename = {{ part.fullname }}.ib
        {% endfor %}
    {% endfor %}
    {% for component in mod_file.components if component.draw_vb != "" and component.blend_vb == "" and component.vertex_count > 0 %}
        {% if component.strides %}
            [Resource{{ component.fullname }}Position]
            type = Buffer
            stride = {{ component.strides.position }}
            filename = {{ component.fullname }}Position.buf
        {% endif %}
        
        {% for part in component.parts %}
            [Resource{{ part.fullname }}IB]
            type = Buffer
            format = DXGI_FORMAT_R32_UINT
            filename = {{ part.fullname }}.ib
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block resourcetextures %}
    {% for component in mod_file.components %}
        {% for part in component.parts %}
            {% for texture in part.textures %}
                [Resource{{ part.fullname }}{{ texture.name }}]
                filename = {{ part.fullname }}{{ texture.name }}{{ texture.extension }}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block constants %}
    {% if const_lines  %}
      [Constants]
      {{ const_lines | join('\n') }}
    {% endif %}

    {% if present_lines  %}
      [Present]
      {{ present_lines | join('\n') }}
    {% endif %}
{% endblock %}

{% block overrides %}
    {{- self.overridesbuffers() -}}
    {{- self.overridesibs() -}}
{% endblock %}

{% block commandlists %}
    {{- self.commandlistscredit() -}}
{% endblock %}

{% block resources %}
    {{- self.resourcebuffers() -}}
    {{- self.resourcetextures() -}}
    {{- self.resourcecredit() -}}
{% endblock %}
